*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: large;
}

.navbar{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.3vw;
    background-color: white;
}

nav{
    justify-content: center;
}

ul{
    list-style-type: none;
}

ul li{
    padding: 0;
}

.bgimg{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    background-image: url("1920-1080.jpg");
    filter: opacity(0.5);
    background-size: 100%;
    z-index: -1;
}

#team{
    border: 2px solid gray;
    border-radius: 10px;
    width: 800px;
    height: 50px;
    position: absolute;
    left: 20%;
    top: 30%;
    display: flexbox;
    z-index: 3;
}

table td{
    border: 2px solid gray;
    border-radius: 10px;
    text-align: center;
    height: 50px;
    flex-direction: column;
}


/* img{
    opacity: 0.3;
    z-index: 1;
    position: fixed;
    margin: 0px;
    padding: 0px;
    left: 0px;
    top: 0px;
} */
